h1{
position: relative;
top: 0px;
text-align: center;
color: rgba(85, 85, 218, 0.916);
}

input{
    position: fixed;
    top: 440px;
    left: 530px;
    padding: 5px;
}

#Subject{
    color: rgb(80, 94, 73);
    font-size: 35px;
    position: relative;
    top: 85px;
    left: 450px;
    /* animation: left-to-right 15s linear infinite */
    
}

#right{
    color: red;
    display: block;
    position: absolute;
    top: 330px;
    left: 530px;
    font-size: 40px;
   
}
#wrong{
    color: rgb(51, 64, 206);
    position: absolute;
    top: 330px;
    left: 530px;
    font-size: 40px;

}


@keyframes left-to-right{
    from {
       transform : translateX(0%)
    }

    to {
       transform : translateX(100%)
    }
   }

@keyframes ShowAnswer {
    from {

    }
}
 

 #timer {
    position: absolute;
    top: 60px;
    left: 530px;
    font-size: 34px;
 }

 #correctanswers {
    position: absolute;
    top: 250px;
    left: 300px;
    font-size: 45px;
    /* animation:  fadeup 15s  ease-in-out forwards; */
    white-space: nowrap;

 }

 @keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
 }