h1{
position: relative;
top: 0px;
text-align: center;
color: rgba(85, 85, 218, 0.916);
}

input{
    position: fixed;
    top: 440px;
    left: 530px;
    padding: 5px;
}

#Subject{
    color: rgb(80, 94, 73);
    font-size: 35px;
    position: relative;
    top: 65px;
    /* animation: left-to-right 15s linear infinite */
    
}

#right{
    color: red;
    display: block;
    position: relative;
    top: 90px;
    left: 560px;
    font-size: 40px;
   
}
#wrong{
    color: rgb(51, 64, 206);
    position: relative;
    top: 90px;
    left: 560px;
    font-size: 40px;

}


@keyframes left-to-right{
    from {
       transform : translateX(0%)
    }

    to {
       transform : translateX(100%)
    }
   }

@keyframes ShowAnswer {
    from {

    }
}
 

 